/*@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-outfit: "Outfit", sans-serif; 
  
  @keyframes bouncey {
    '0%, 100%': { transform: 'translateY(0)' },
    '50%': { transform: 'translateY(-12px)' }
  }
      --animate-bouncey: bouncey 0.8s ease-in-out infinite,
}

body {
  @apply font-outfit;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .thin-scrollbar::-webkit-scrollbar {
    width: 8px;
  }
  .thin-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-300 rounded-full;
  }
  
  .thin-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: #d1d5db transparent; /* gray-300 */
  }
}

.recharts-surface {
  outline: none !important;
}